body{
    background-image: url(./background.png);
    background-size: cover; 
    grid-template-rows: 70px, 1fr 70px;
    padding: 70px, 70px, 24px, 70px;
    display: grid;
    height: 70vh;
    
}

header{
    margin-bottom: 150px;
    margin-top: 50px;
    margin-left: 50px;
    color: white;
    font-size: xx-large;

    
}
main{
    display: flex;
}
.action{
    align-items: center;
    justify-content: center;
}
footer{
    margin-left: 50px;
    margin-top: 50px;
    
}
.title-text{
    color: white;
    width: 700px;
    font-family: Lato, sans-serif;
    margin-left: 50px;
    margin-bottom: 100px;
    display: grid;
    width: 600px;
   
}
.description-text{
    color: white;
    margin-left: 50px;
    margin-right: 1300px;
    font-size: xx-large;
    font-family: Lato, sans-serif;
    width: 400px;
    display: flex;
    place-self: center start;

}
.description__logo{
    margin-left: 50px;
}
.video__1{
    margin-right: 50px;
    gap: 10px;
}
.video__2{
    margin-right: 50px;
    
}
.redes-sociais{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 630px;
}
.youtube{
    margin-bottom: 30px;
}
.twitter{
    margin-bottom: 30px;
}
.instagram{
    margin-bottom: 30px;
}   
.background-image{
    top: 50%;
}

