body{
    background-image: url(./background.png);
    background-size: cover; 
    grid-template-rows: 70px, 1fr 70px;
    padding: 70px, 70px, 24px, 70px;
    display: grid;
    height: 70vh;
    
}
header{
    margin-bottom: 150px;
    margin-top: 50px;
    margin-left: 50px;
}
footer{
    margin-left: 50px;
    margin-top: 100px;
}
.title__text{
    color: white;
    width: 700px;
    font-family: Lato, sans-serif;
    margin-left: 50px;
    margin-bottom: 100px;
    display: flex;
    position: absolute;
}
.description__text{
    color: white;
    margin-left: 50px;
    margin-right: 750px;
    font-size: larger;
    font-family: Lato, sans-serif;
    width: 300px;
    display: flex;

}
.description__logo{
    margin-left: 60px;
}
.video__1{
    margin-right: 50px;
}
.video__2{
    margin-right: 50px;
}
.redes__sociais{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 750px;
}
.youtube{
    margin-bottom: 25px;
}
.twitter{
    margin-bottom: 25px;
}
.instagram{
    margin-bottom: 25px;
}   
.background-image{
    position: absolute;
    top: 50%;
}

